version: "2.1"
services:
# Plex Requests basically
  ombi:
    image: lscr.io/linuxserver/ombi:latest
    container_name: ombi
    environment:
      - PUID=1000
      - PGID=1006
      - TZ=America/New_York
      - BASE_URL=/ombi #optional
    volumes:
      - /docker-containers/ombi:/config
    ports:
      - 3579:3579
    restart: always
    stdin_open: true
    tty: true
    networks:
      - homelab
networks:    # I don't know why but you have to specify the network 2x. In service, and in this tag area..
  homelab:
    name: homelab      # Networks can also be given a custom name
    external: true      # This option causes compose to join the above network instead of making a _default one