---
version: "2.1"
services:
  wireshark:
    image: lscr.io/linuxserver/wireshark:latest
    container_name: wireshark
    cap_add:
      - NET_ADMIN
    security_opt:
      - seccomp:unconfined #optional
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1003
      - TZ=America/New_York
    volumes:
      - /docker-containers/wireshark:/config
    ports:
      - 3057:3057 #optional
    restart: unless-stopped