version: "3.8"
services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:latest

    container_name: open-webui
    restart: unless-stopped
    ports:
      - "3030:8080"
    environment:
      - GLOBAL_LOG_LEVEL=DEBUG
      - MODEL_SERVER_URL=http://ollama:11434
      - PROVIDER=ollama,openai
      - OPENAI_API_KEY=YourAPIKEY
        # With below set, and turning off basic auth in nginx, I was able to get reverse proxy working
      - CORS_ALLOW_ORIGIN=https://open-webui.example.com;https://example.com;http://open-webui;http://open-webui:8080;https://open-webui:8080;http://192.168.1.239;http://192.168.1.239:3030;http://localhost:3030;http://192.168.1.1:80;http://192.168.1.1:443
      - WEBUI_URL=https://open-webui.example.com;https://example.com;http://open-webui;http://open-webui:8080;https://open-webui:8080;http://192.168.1.239;http://192.168.1.239:3030;http://localhost:3030;http://192.168.1.1:80;http://192.168.1.1:443

      # - ENABLE_WEBSOCKET_SUPPORT=false # didn't work, default true
      # - WEBUI_AUTH=false # can't be any users in db
      # Required for multi-worker/multi-instance deployments
      - REDIS_URL=redis://redis-valkey-webui:6379/0

      # Required for websocket support
      - WEBSOCKET_MANAGER=redis
      - WEBSOCKET_REDIS_URL=redis://redis-valkey-webui:6379/1

    volumes:
      - /docker-containers/open-webui/data:/app/backend/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:           # Specify network for container
      homelab:
        aliases:
          - openwebui # adding multiple aliases under certain network
          - open-wui
      openwebui_net:
        aliases:
          - openwebui_internal  # to connect to redis network, and not redis connect to homelab anymore (multi redis)
    depends_on:
      - redis-valkey-webui

  redis-valkey-webui:
    image: redis:7
    container_name: redis-valkey-webui
    restart: unless-stopped
    networks:
      - openwebui_net

networks:
  homelab:
    name: homelab      # Networks can also be given a custom name
    external: true      # This option causes compose to join the above network instead of making a _default one
  openwebui_net:
    name: openwebui_net
    external: false