# social media management software # paid past facebook and twitter
# didn't want to mix traefik and nginx so stopped using for now may pick up later
# using mariadb for mysql connection. already setup within .env if checked
# even after getting working couldn't quite get it to post to facebook or twitter
# Will likely use n8n or node-red instead. Seems all these softwares go to paid plans eventually
version: "3.8"
services:
  mixpost:
    image: inovector/mixpost:latest
    container_name: mixpost
    # env_file:
    #   - .env
    environment:
      - APP_KEY=base64:YourBase64EncodedString
      - APP_DEBUG=true
      - APP_DOMAIN=mixpost.example.com
      - APP_URL=https://mixpost.example.com
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=mixpost_db
      - DB_USERNAME=mixpost
      - DB_PASSWORD=yourPassword
      - SSL_EMAIL=admin@example.com
    ports:
      - "8540:80"
      - "8543:443"
    volumes:
      - /docker-containers/mixpost/app:/var/www/html/storage/app
      - /docker-containers/mixpost/logs:/var/www/html/storage/logs
    depends_on:
      - redis 
    restart: unless-stopped
    networks:           # Specify network for container
      homelab:
        aliases:
          - facebook
          - instagram

  redis:
    image: 'redis:latest'
    command: redis-server --appendonly yes --replica-read-only no
    volumes:
      - /docker-containers/mixpost/redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s
    restart: unless-stopped

networks:    # you have to specify the network 2x. In service, and in this tag area..
  homelab:
    external: true      # This option causes compose to join the above network instead of making a _default one